### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
structures/NBTExplorer-2.8.0.zip
structures/NBTExplorer-2.8.0/NBTExplorer.exe
structures/NBTExplorer-2.8.0/NBTExplorer.exe.config
structures/NBTExplorer-2.8.0/NBTModel.dll
structures/NBTExplorer-2.8.0/NBTUtil.exe
structures/NBTExplorer-2.8.0/NBTUtil.exe.config
structures/NBTExplorer-2.8.0/Substrate.dll
